name: CI

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Dagger version
        id: dagger_version
        uses: sagikazarmark/dagger-version-action@v0.0.2

      - name: Run pipeline
        uses: dagger/dagger-for-github@710906f3073901ccd9c8fd38e18848c00d9892be # v8.1.0
        with:
          verb: call
          args: build
          version: ${{ steps.dagger_version.outputs.version }}

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        k3s:
          #- latest
          - v1.32.1-k3s1
          - v1.31.5-k3s1
          - v1.30.9-k3s1
          - v1.29.13-k3s1
          - v1.28.15-k3s1
          - v1.27.16-k3s1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Dagger version
        id: dagger_version
        uses: sagikazarmark/dagger-version-action@v0.0.2

      - name: Run pipeline
        uses: dagger/dagger-for-github@710906f3073901ccd9c8fd38e18848c00d9892be # v8.1.0
        with:
          verb: call
          args: test --version ${{ matrix.k3s }}
          version: ${{ steps.dagger_version.outputs.version }}

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Dagger version
        id: dagger_version
        uses: sagikazarmark/dagger-version-action@v0.0.2

      - name: Run pipeline
        uses: dagger/dagger-for-github@710906f3073901ccd9c8fd38e18848c00d9892be # v8.1.0
        with:
          verb: call
          args: lint
          version: ${{ steps.dagger_version.outputs.version }}
